@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    animation-name: bg;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}  
@keyframes bg {
    0%{
        background-image: linear-gradient(rgba(150, 160, 207, 0.523),rgba(4,9,36,0.7)), url(./img/kerala.jpeg);
    }
    25%{
        background-image: linear-gradient(rgba(150, 160, 207, 0.523),rgba(4,9,36,0.7)), url(./img/Uttarakhand1.webp);
    }
    
    50%{
        background-image: linear-gradient(rgba(150, 160, 207, 0.523),rgba(4,9,36,0.7)), url(./img/tajmahal.jpeg);
    }
    75%{
        background-image: linear-gradient(rgba(150, 160, 207, 0.523),rgba(4,9,36,0.7)), url(./img/india_gate.jpeg);
    }
    100%{
        background-image: linear-gradient(rgba(150, 160, 207, 0.523),rgba(4,9,36,0.7)), url(./img/himachal2.jpg);
    }
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.nav-links ul li a:hover{
  border-radius: 5px;
  background-color:rgba(120, 126, 123, 0.752);
  padding:5px;
}
.nav-bar{
    height: 80px; 
    background-color: rgba(107, 107, 107, 0.684);
    position: fixed;
    width: 100%;
}
.button{
    padding-top: 15px;
}
.btn a{
    text-decoration: none;
    color: #ae2f2f;
}
.btn a:hover{
    color: #fff;
}
.text-box{
 padding-top: 100px;
  text-align: center;
  color: #fff;
}
.text-box h2{
    font-size: 62px;

}
h2{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}
.content-3 h2{
    margin-left: 160px;
}
.ind_img{
    display:flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    
}
.ind_img1, .ind_img2, .ind_img3, .ind_img4{
    transition: transform 0.2s;
}
.ind_img1:hover,.ind_img2:hover,.ind_img3:hover,.ind_img4:hover{
    transform: scale(1.1);
    filter: saturate(1);
}    
.ind_img1{
    background: url("./img/shimla.jpg") no-repeat;
    background-size:cover;
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
.ind_img2{
    background: url("./img/andaman1.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
.ind_img3{
    background: url("./img/rajasthan1.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
.ind_img4{
    background: url("./img/thanjavur.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
.ind_txt1{
    font-family: fantasy;
    font-size: larger;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    text-shadow: 2px 2px black;
}
.ind_txt2{
    font-family: fantasy;
    font-size: large;
    color: rgb(0, 0, 0);
    padding-top: 275px;
    padding-left: 15px;
}
.ind_txt3{
    font-family: fantasy;
    font-size: larger;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    text-shadow: 2px 2px black;
}
.ind_txt4{
    font-family: fantasy;
    font-size: large;
    color: rgb(0, 0, 0); 
    padding-top: 275px;
    padding-left: 15px;
}
.ind_txt5{
    font-family: fantasy;
    font-size: larger;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    text-shadow: 2px 2px black;
}
.ind_txt6{
    font-family:fantasy;
    font-size: large;
    color: rgb(0, 0, 0); 
    padding-top: 275px;
    padding-left: 15px;
}
.ind_txt7{
    font-family: fantasy;
    font-size: larger;
    color: rgb(255, 255, 254);
    padding-left: 10px;
    text-shadow: 2px 3px black;
}
.ind_txt8{
    font-family: fantasy;
    font-size: large;
    color:rgb(0, 0, 0); 
    padding-top: 275px;
    padding-left: 15px;
}
.content-2{
    background-color: rgba(133, 160, 146, 0.175);
    text-align: center;
    line-height: 1.5em;
    padding: 30px;
}
.content-3 {
    padding-top: 25px;
    margin-left: 170px;
    margin-right: 300px;
}
.content-3 h2{
    text-align:center;
    padding-bottom: 15px;

}
.images{
    display: grid;
    grid-template-columns: auto auto;
   
}
.images img{
    border-radius: 10px;
    box-shadow: 10px 10px rgba(206, 206, 206, 0.725);
}

.image-left{
    display: flex;
    justify-content: right;
    padding-right: 20px;
 
}
.image-right{
    width: 86%;
    display: grid;
    grid-template-columns: auto auto;
   
}
.each-img{
   
    padding-bottom: 20px;
    padding-right: 20px;
}
.vdo{
    display: flex;
    padding-left: 25px;
    padding-right: 10px;
    margin-left: 250px;
    margin-right: 200px;
}
#iframe2{
    padding-left: 20px;
    padding-right: 20px;
}
.footer-col{
    background-color: rgba(133, 160, 146, 0.175) !important;
}
.text-center{
    background-color: rgba(0, 0, 0, 0.2);;
}
   


    
